In [38]:
import pandas as pd 
from sdv.single_table import GaussianCopulaSynthesizer
from sdv.metadata import SingleTableMetadata
import pickle
from pathlib import  Path
import warnings
warnings.filterwarnings('ignore')

In [27]:
df = pd.read_csv(r"C:\Users\ayman\OneDrive\Documents\Data_science_projects\active_learning\prefect_101\data\data.csv")

In [28]:
df.head()

,Unnamed: 0.1,Unnamed: 0,new_price,desc,address,chambres,salles de bains,surface,ascenseur,floor,terrasse,parking,Type,City,Nighberd
0,0,0,1000000,98 m² crossing apartment in the heart of the B...,Appartement à vendre Casablanca - Belvédère,2,1,98,Yes,5,Yes,No,Appartement,Casablanca,Belvédère
1,1,1,1750000,Office for sale of 173 m² in Casablanca - Your...,Bureau à vendre Casablanca - Autre,1,2,173,Yes,7,Yes,No,Bureau,Casablanca,Autre
2,2,2,2600000,"Discover your future home in Mandarona, Casabl...",Appartement à vendre Casablanca - Californie,3,2,150,Yes,3,Yes,Yes,Appartement,Casablanca,Californie
3,3,3,2290000,For Sale - Bright apartment of 130 m² fully re...,Appartement à vendre Casablanca - Les Hôpitaux,2,1,130,Yes,3,No,No,Appartement,Casablanca,Les Hôpitaux
4,4,4,1460000,Welcome to this charming apartment located in ...,Appartement à vendre Meknès - Hamria,3,2,163,Yes,2,No,No,Appartement,Meknès,Hamria

In [29]:
df.drop(df.columns[:2],axis=1,inplace=True)

In [30]:
df.head()

,new_price,desc,address,chambres,salles de bains,surface,ascenseur,floor,terrasse,parking,Type,City,Nighberd
0,1000000,98 m² crossing apartment in the heart of the B...,Appartement à vendre Casablanca - Belvédère,2,1,98,Yes,5,Yes,No,Appartement,Casablanca,Belvédère
1,1750000,Office for sale of 173 m² in Casablanca - Your...,Bureau à vendre Casablanca - Autre,1,2,173,Yes,7,Yes,No,Bureau,Casablanca,Autre
2,2600000,"Discover your future home in Mandarona, Casabl...",Appartement à vendre Casablanca - Californie,3,2,150,Yes,3,Yes,Yes,Appartement,Casablanca,Californie
3,2290000,For Sale - Bright apartment of 130 m² fully re...,Appartement à vendre Casablanca - Les Hôpitaux,2,1,130,Yes,3,No,No,Appartement,Casablanca,Les Hôpitaux
4,1460000,Welcome to this charming apartment located in ...,Appartement à vendre Meknès - Hamria,3,2,163,Yes,2,No,No,Appartement,Meknès,Hamria

In [31]:
df.drop(['desc','address'],axis=1,inplace=True)

In [32]:
df.head()

,new_price,chambres,salles de bains,surface,ascenseur,floor,terrasse,parking,Type,City,Nighberd
0,1000000,2,1,98,Yes,5,Yes,No,Appartement,Casablanca,Belvédère
1,1750000,1,2,173,Yes,7,Yes,No,Bureau,Casablanca,Autre
2,2600000,3,2,150,Yes,3,Yes,Yes,Appartement,Casablanca,Californie
3,2290000,2,1,130,Yes,3,No,No,Appartement,Casablanca,Les Hôpitaux
4,1460000,3,2,163,Yes,2,No,No,Appartement,Meknès,Hamria

In [33]:
df.dtypes

new_price           int64
chambres            int64
salles de bains     int64
surface             int64
ascenseur          object
floor               int64
terrasse           object
parking            object
Type               object
City               object
Nighberd           object
dtype: object

In [34]:
df.rename(columns={"salles de bains":"Sales_bain"},inplace=True)

In [35]:
df.columns

Index(['new_price', 'chambres', 'Sales_bain', 'surface', 'ascenseur', 'floor',
       'terrasse', 'parking', 'Type', 'City', 'Nighberd'],
      dtype='object')

In [40]:
def synthetic_generator(nb_rows):
    """
    this function serves as a synthetic data generator to simulate real time data generation 
    * first define the metadata
    * train the synthesizer
    * generate synthetic data providing the number of rows
    """
    save_path = Path("../model/synth_model.pkl")
    # defining meta data
    metadata = SingleTableMetadata()
    metadata.detect_from_dataframe(df)

    #training the synthesizer
    synthesizer = GaussianCopulaSynthesizer(metadata)
    synthesizer.fit(df)
    
    synthesizer.save(save_path)

    #generate the synthetic data
    synthetic_data = synthesizer.sample(nb_rows)

    return synthetic_data ,synthesizer
synthetic_generator(5)

(   new_price  chambres  Sales_bain  surface ascenseur  floor terrasse parking  \
 0    3166319         4           2      137       Yes      1       No      No
 1    2667252         3           1       58       Yes      1       No      No
 2     931728         2           2       93       Yes      3       No      No
 3     841420         2           1      124       Yes      3       No     Yes
 4    1966861         2           1      156       Yes      3      Yes     Yes

           Type          City      Nighberd
 0  Appartement  Charlesshire       Riviera
 1       Studio    New Rickey       Riviera
 2  Appartement    South Kent       Al Qods
 3       Studio   East Joshua  Almoustakbal
 4  Appartement  Hawkinsburgh     Belvédère  ,
 <sdv.single_table.copulas.GaussianCopulaSynthesizer at 0x1adc82f9f30>)

In [43]:
def synthic_data(nb_rows) -> pd.DataFrame:
    path = Path("..\model\synth_model.pkl")
    with open(path,'rb') as f:
        model = pickle.load(f)
    data = model.sample(nb_rows)
    return data

In [44]:
sample_1 = synthic_data(2)
sample_1

,new_price,chambres,Sales_bain,surface,ascenseur,floor,terrasse,parking,Type,City,Nighberd
0,3166319,4,2,137,Yes,1,No,No,Appartement,Charlesshire,Riviera
1,2667252,3,1,58,Yes,1,No,No,Studio,New Rickey,Riviera